<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noticemycar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splashscreenlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splashscreenlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoticeMyCar"
        android:usesCleartextTraffic="true">
        <activity android:name=".NoticesAll"></activity>
        <activity android:name=".RegisterResult" />
        <activity android:name=".Logout" />
        <activity android:name=".LoginResult" />
        <activity android:name=".ProfileView" />
        <activity android:name=".RegisterPanel" />
        <activity android:name=".LoginPanel" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>